.navbar
{ border: none; border-radius: 0px; min-height: 30px; max-height: 40px; margin: auto; margin-top: 25px }

.navbar .navbar-brand img
{ margin-top: -40px; margin-left:-15px; width: 85 }

.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form
{ margin-top: 0px; font-weight: bold; font-size: 18px; font-family: cursive; height: 40px !important; }

.navbar-inverse .navbar-nav>li>a
{ padding-right: 40px; color: #7a7a7a;margin-top: -5px }

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover
{ height: 40px; margin-top: 0px; padding-top: 10px; padding-right: 15px }
/*******************************************************************************/
.join_Now
{ margin-bottom: 50px }

.join_Now .yoga_img img
{ margin-top: 40px; width: 500px }

.join_Now .yoga_Class
{ margin-top: 170px }

.join_Now .yoga_Class h2
{ font-family: unset; font-weight: bold; font-size: 60px; letter-spacing: 10px }

.join_Now .yoga_Class p
{ padding: 10px 100px; font-size: 13px; font-weight:600 ; word-spacing: 2px }

.join_Now .yoga_Class .btn
{ border: none; letter-spacing: 2px; border-radius: 13px; height: 25px; padding-top: 2px }
/*******************************************************************************/
.choose_Class h2
{ color:#fff;font-family:monospace;letter-spacing:3px;font-weight:bold;font-size:40px;text-shadow: 0px 0px 4px #1e59c9; padding:20px }

.choose_Class p
{ color:#fff; padding-bottom:23px; width:500px; margin:auto; word-spacing:2px; letter-spacing:1px;font-size:15px; font-family:cursive }

.choose_Class .class
{ height: 450px;margin-bottom: 50px }

.choose_Class img
{ width: 300px; height: 300px }

.choose_Class h3
{ color:#fff; font-weight:bold; font-family:cursive; letter-spacing:1px; text-shadow:0px 0px 4px rgba(0, 88, 255, 0.69); padding:10px }

.choose_Class .class p
{ font-family: sans-serif; width: 300px;padding-bottom: 30px; letter-spacing: 1px }
/*******************************************************************************/
.our_States
{ padding-top: 25px; padding-bottom: 75px }

.our_States h2
{ font-family: monospace; letter-spacing: 3px; font-weight: bold; font-size: 40px; text-shadow: 0px 0px 3px #1e59c9; padding: 20px }

.our_States p
{ padding-bottom:40px; width: 500px; margin: auto; word-spacing: 2px; letter-spacing: 1px; font-size: 15px; font-family: cursive }

.Our_States .stat
{ margin: auto; border-radius: 50%; width: 250px; height: 250px; padding: 20px; margin-bottom: 50px }

.Our_States .stat h2
{ text-shadow: 0px 0px 3px rgba(0, 88, 255, 0.69); font-size: 50px }

.Our_States .stat p
{ width: 200px; font-size: 17px }
/*******************************************************************************/
.Best_Instructor .info
{ padding-top: 160px; margin-bottom: 100px }

.Best_Instructor h2
{color:#FFF;font-family:monospace;letter-spacing:3px;font-weight:bold;font-size:50px;text-shadow:0px 0px 4px #1e59c9;line-height:30px }

.Best_Instructor p
{ padding-top: 40px; padding-bottom: 35px; color: #fff; width: 570px; word-spacing: 2px; letter-spacing: 1px; font-size: 19px; font-family: cursive; line-height: 30px }

.Best_Instructor .btn
{background-color:#FFF;border:none;width:200px;font-weight:600;padding:8px;letter-spacing:.5px;font-size:18px;
border:1px solid transparent}

.Best_Instructor .btn:active,.Best_Instructor .btn:hover
{ border: 1px solid #7a7a7a; color: #fff }

.Best_Instructor .img img
{ width: 615px; height: 700px }
/*******************************************************************************/
.New_Experience
{ background-color: #ffff; padding-top: 45px; padding-bottom: 45px }

.New_Experience .info
{ padding-left: 20px; padding-top: 160px; margin-bottom: 100px }

.New_Experience h2
{ font-family: monospace; letter-spacing: 3px; font-weight:bold; font-size: 50px; text-shadow: 0px 0px 2px #1e59c9; line-height: 30px }

.New_Experience p
{padding-top:40px;padding-bottom:35px;word-spacing:2px;letter-spacing:1px;font-size:19px;font-family:cursive;line-height:30px}

.New_Experience .btn
{ color:#fff; border:none; width:200px; font-weight:600; padding:8px;letter-spacing:.5px;font-size:18px; border:1px solid transparent }

.New_Experience .btn:active,.New_Experience .btn:hover
{ border: 1px solid #7a7a7a; color: #fff }

.New_Experience .img img
{ width: 615px; height: 700px }
/*******************************************************************************/
.Pricing
{ padding-top: 50px; padding-bottom: 50px }

.Pricing h2
{ color:#fff; font-family:monospace; letter-spacing:3px; font-weight:bold;
font-size:50px; text-shadow:0px 0px 4px #1e59c9; line-height:30px;margin-bottom: 20px;padding: 15px 15px 20px 15px}

.Pricing p
{ color:#fff; padding-bottom:40px; width:600px; margin:auto; word-spacing:2px;letter-spacing:1px; font-size:18px; font-family:cursive }

.Pricing .pric
{ background-color: #fff; border-radius: 10px; padding-top: 25px; padding-bottom: 35px; margin-bottom: 40px }

.Pricing .pric h3,h4
{ padding-bottom:5px; word-spacing: 2px; letter-spacing: 1px; font-size: 20px; font-weight: bold; font-family: cursive }

.Pricing .pric img
{ margin: auto; padding: 10px; width: 100px }

.Pricing .pric p
{ font-family: inherit; width: 300px; padding-top: 30px }

.Pricing .pric .btn
{ border:none; font-weight: bold; letter-spacing: 1px; padding: 12px; width: 200px; word-spacing: 2px; border: 1px solid transparent }

.Pricing .pric .btn:hover,.Pricing .pric .btn:active
{ border: 1px solid #7a7a7a; color: #fff }
/*******************************************************************************/
.Trainer_Devandra
{ padding-top: 50px; padding-bottom: 50px }

.Trainer_Devandra img
{ margin: auto; width: 400px; padding-bottom: 40px }

.Trainer_Devandra h3
{ font-family:monospace; letter-spacing:1px; font-weight: bold; font-size: 35px; text-shadow: 0px 0px 2px #1e59c9; word-spacing: -5px }

.Trainer_Devandra p
{ padding-bottom:10px;word-spacing:2px;letter-spacing:1px;font-size:18px;font-weight:bold;font-family:cursive;width:600px;margin:auto }
/*******************************************************************************/
.Subscribe
{ padding-top: 50px; padding-bottom: 50px }

.Subscribe h2
{ color: #fff; font-family: monospace; letter-spacing: 2px; font-weight: bold; font-size: 45px; text-shadow: 0px 0px 4px #1e59c9; padding: 10px; word-spacing: -10px }

.Subscribe p
{color: #fff;padding-bottom:10px;word-spacing: 2px;letter-spacing: 1px;font-size: 18px;font-weight: bold;font-family: cursive;width: 600px;margin: auto;margin-bottom: 20px}

.Subscribe .form-inline .form-control
{ width: 350px;border-radius: 15px 0px 0px 15px;height: 35px;margin-right: -2px }

.Subscribe .form-inline .btn
{background-color: #dddddd;border: 1px solid #414141;border-radius:0px 15px 15px 0px;;height: 35px;margin-left: -2px;font-weight: bold}
/*******************************************************************************/
.footer
{ padding-top: 50px;padding-bottom: 50px }

.footer .title h3
{ font-family: monospace;font-weight: bold;font-size: 30px;text-shadow: 0px 0px 2px #1e59c9;padding-bottom: 10px;word-spacing: -5px }

.footer .title p
{ word-spacing: 1px;letter-spacing: 1px;font-size: 17px;font-family: cursive;padding: 10px 40px 0px 0px }

.footer .Links div
{ float: left;width: 33.33333% }

.footer .Links div h3
{ font-family: monospace;font-weight: bold;font-size: 30px;text-shadow: 0px 0px 2px #1e59c9;padding-bottom: 10px }

.footer .Links div ul li
{ font-size: 16px;font-family: cursive;padding: 3px }

.footer .Links div ul li:hover
{ cursor: pointer }

.footer .Links div.Follow ul li i
{ font-weight: bold;font-size: 20px }
/*******************************************************************************/
.copy  div
{ width: 100%;height: 30px;color: #b9d6d4;padding: 5px;font-size: 16px }

.copy  div p span a
{ font-weight: bold;color: #779ce }

.copy  div p span a:hover
{ text-decoration: none;cursor: pointer;color: #008019 }
/*******************************************************************************/
.Option_Box
{ position: fixed;width: 240px;height: 100px;z-index: 999;top: 200px;left: 1px }

.Option_Box div
{ float: left }

.Option_Box .Color_Option
{ display: none;border: 3px solid #000;border-radius: 5px;width: 200px;height: 100px;padding:10px 9px }

.Option_Box .Color_Option h3
{ font-weight: bold;margin-top: -1px }

.Option_Box .Color_Option ul li:hover,.Option_Box .Gear:hover
{ cursor: pointer }

.Option_Box .Color_Option ul li
{ border: 1px solid #000000;width: 30px;height: 30px;background-color: navy;float: left;margin-right: 5px }

.Option_Box .Gear i
{ padding: 5px }
/*******************************************************************************/
.Scroll_Top
{width: 46px;height: 55px;background-color: #fff;position: fixed;z-index: 999;right: 10px;bottom: 10px;border-radius: 7px;padding-top: 8px;font-weight: bold;font-size: 35px;border: 2px solid #000}

.Scroll_Top:hover
{ cursor: pointer;color: #fff }
/*******************************************************************************/
.Loading-Screen
{width: 100%;height: 100%;position: fixed;top: 0px;left: 0px;z-index: 99999999}

.Loading-Screen .Loading
{width: 230px;margin: 400px auto;position: relative;height: 10px}

.Loading-Screen .Loading span
{display: block;height: 10px;width: 10px;border-radius: 50%;background-color: darkslateblue;position: absolute;bottom: 0px;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(1)
{animation: wave 1s ease-in-out alternate;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(2)
{left: 12px;animation: wave 1s ease-in-out alternate;animation-delay: .2s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(3)
{left: 24px;animation: wave 1s ease-in-out alternate;animation-delay: .4s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(4)
{left: 36px;animation: wave 1s ease-in-out alternate;animation-delay: .6s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(5)
{left: 48px;animation: wave 1s ease-in-out alternate;animation-delay: .8s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(6)
{left: 60px;animation: wave 1s ease-in-out alternate;animation-delay: 1s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(7)
{left: 72px;animation: wave 1s ease-in-out alternate;animation-delay: 1.2s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(8)
{left: 84px;animation: wave 1s ease-in-out alternate;animation-delay: 1.4s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(9)
{left: 96px;animation: wave 1s ease-in-out alternate;animation-delay: 1.6s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(10)
{left: 108px;animation: wave 1s ease-in-out alternate;animation-delay: 1.8s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(11)
{left: 120px;animation: wave 1s ease-in-out alternate;animation-delay: 2s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(12)
{left: 132px;animation: wave 1s ease-in-out alternate;animation-delay: 2.2s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(13)
{left: 144px;animation: wave 1s ease-in-out alternate;animation-delay: 2.4s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(14)
{left: 156px;animation: wave 1s ease-in-out alternate;animation-delay: 2.6s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(15)
{left: 168px;animation: wave 1s ease-in-out alternate;animation-delay: 2.8s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(16)
{left: 180px;animation: wave 1s ease-in-out alternate;animation-delay: 3s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(17)
{left: 192px;animation: wave 1s ease-in-out alternate;animation-delay: 3.2s;animation-iteration-count: infinite;}

.Loading-Screen .Loading span:nth-of-type(18)
{left: 204px;animation: wave 1s ease-in-out alternate;animation-delay: 3.4s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:nth-of-type(19)
{left: 216px;animation: wave 1s ease-in-out alternate;animation-delay: 3.6s;animation-iteration-count: infinite}

.Loading-Screen .Loading span:last-of-type
{left: 228px;animation: wave 1s ease-in-out alternate;animation-delay: 3.8s;animation-iteration-count: infinite}

@keyframes wave
{0%,100%{background-color: darkslateblue;transform: translateY(0px);opacity: 1}
50%{background-color: brown;transform: translateY(10px);opacity: .1}}
/*******************************************************************************/
.mmm
{ margin-top: 120px }